body{
    color: white;
    font-family: "Pixelify Sans", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    background-color: black;
}

h1{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: <weight>;
    font-style: normal;
    font-size: 30px;
}

nav{
    background-image:url(webs.jpg);
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    margin-right: 100px;
    padding: 20px;
    padding-left: 0%;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 9999;

}

a.menu{
    color: white;
    text-decoration: none;
    
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
    

}

a.menu:hover{
    color:red;
}

.static {
    top: 0;
    left: 0;
    background: white;
}

.static:hover {
    top: 60px;
    left: 80px;
    opacity:0;
}



